<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862872272959-u9s15bod6pl5lb7r4vgsd4112ftvk2tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862872272959-u9s15bod6pl5lb7r4vgsd4112ftvk2tn</string>
	<key>API_KEY</key>
	<string>AIzaSyBa5pKjYwftAAH4RKuWix55KwrDzaco5rE</string>
	<key>GCM_SENDER_ID</key>
	<string>862872272959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ifri</string>
	<key>PROJECT_ID</key>
	<string>ifri-23ae3</string>
	<key>STORAGE_BUCKET</key>
	<string>ifri-23ae3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862872272959:ios:aacafb4b3bdb9917b6788a</string>
</dict>
</plist>